# Aldec ActiveHDL .gitignore
# Sergey Kostyuk, 2017, Public Domain

*.asdb/
log/
Edfmap.ini
*.wsp
*.wsf
*.log
*.erf
*.sth
*.cmd
compile/
*.set

# Comment to save compilation order:
compilation.order
projlib.cfg
library.cfg
*.lib
*.mgf

# Comment to save simulation results
#*.awc
#*.asdb
#*.asdbw
synthesis.order
